<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.smk_pwd">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.location.gps" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_smkhfa"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme1">
        <activity android:name=".ui.sections.SectionD103Activity"></activity>
        <activity android:name=".ui.sections.SectionF8Activity" />
        <activity android:name=".ui.sections.SectionC7Activity" />
        <activity android:name=".ui.sections.SectionC6Activity" />
        <activity android:name=".ui.sections.SectionC5Activity" />
        <activity android:name=".ui.sections.SectionC4Activity" />
        <activity android:name=".ui.sections.SectionC3Activity" />
        <activity android:name=".ui.sections.SectionC2Activity" />
        <activity android:name=".ui.sections.SectionI3Activity" />
        <activity
            android:name=".ui.list_activity.FormsReportDate"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.list_activity.PendingFormsActivity"
            android:label="Unfinished Forms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.other.SectionMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionAActivity"
            android:label="@string/modatitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionBActivity"
            android:label="@string/modbtitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionC1Activity"
            android:label="@string/modctitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionD101Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionD102Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionD2Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionE1Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionE2Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionE3Activity"
            android:label="@string/modetitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF1Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF2Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF3Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF4Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF5Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF6Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionF7Activity"
            android:label="@string/modftitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionGActivity"
            android:label="@string/modgtitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionH1Activity"
            android:label="@string/modhtitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionH2Activity"
            android:label="@string/modhtitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionH3Activity"
            android:label="@string/modhtitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionI1Activity"
            android:label="@string/modititle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionI2Activity"
            android:label="@string/modititle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.other.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.other.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.other.EndingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".core.AndroidDatabaseManager"
            android:parentActivityName=".ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.sync.SyncActivity"
            android:parentActivityName=".ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".DownloadFileService" />
    </application>

</manifest>